* {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.box {
  background-color: #4472c4;
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
  @media (max-width: 740px) {
    width: 320px;
    height: 500px;
  }
}

.inputstyle {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 10px;
  box-sizing: border-box;
  background-color: #ffc000;
  outline: none;
  font-weight: 400;
}

.inputstyle::placeholder {
  color: lightslategray;
  font-weight: 600;
}

.inputstyle[type="checkbox"] + label {
  display: inline-block;
  position: absolute;
  padding: 8px;
}

input[type="checkbox"] {
  margin-bottom: 0px;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 30px;
  outline: none;
  background-color: #ed7d31;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

input[type="submit"] {
  margin-top: 10px;
  margin-left: 35%;
  display: grid;
  width: 30%;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #70ad47;
  border: 0;
  cursor: pointer;
}
